.todos {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    
    margin-bottom: 10px;
    background-color: rgba(187, 143, 228, 0.979)
}

.todos > h2 {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    width: 30vw;
}

.todos > button {
    height: 50px !important;
    background-color: rgba(120, 91, 148, 0.979) !important;
}